<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd


                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="liang.mvc.handler.*,liang.mvc.action"/>

    <bean id="idealRequestMappingConfiguration"
          class="liang.mvc.handler.mapping.IdealRequestMappingConfiguration">
        <property name="packagePattern" value="^com.liang.controller.?"/>
        <property name="packageReplacement" value="/v1/"/>
        <property name="requestMethodPatterns">
            <map>
                <entry key="get.*" value="GET"/>
                <entry key="update.*" value="POST"/>
            </map>
        </property>
    </bean>

    <!-- 异常处理 -->
    <bean class="liang.mvc.handler.resolver.GlobalHandlerExceptionResolver"/>

    <!-- 方便在工具类中获取bean-->
    <bean class="liang.mvc.commons.SpringContextHolder"/>

</beans>