<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Home</title>
  <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/me.css" rel="stylesheet" type="text/css" />
  <script src='/static/js/bignumber.js'></script>
<!--  <script type="text/javascript" src="backend.js?2019.06.03.v2"> </script>-->
  <script src="https://unpkg.com/ipfs-http-client/dist/index.min.js"></script>
<!--  <script th:src="@{/static/plugins/jquery.validate/jquery.validate.min.js}" type="text/javascript"></script>-->

</head>
<!--style="background-image:url(/static/images/backg.jpg); background-size:cover;"-->
<body>
<header class="ax-header">
  <nav>
    <div class="ax-row" style="background-color: #37517e;">
      <div class="ax-col">
        <a href="###" class="ax-logo"><img src="/static/images/logo.png" /></a>
      </div>
      <div class="ax-nav ax-scrollnav-h" style="background-color: #37517e;" id="article-nav1">
        <div class="ax-item">
          <li class="ax-scrollnav-item" data-section="scrollnav"><a href="/v1/home/home" class="ax-text ax-scrollnav-link" style="color:#fff">Home</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-4"><a href="/v1/home/home#scrollnav-4" class="ax-text ax-scrollnav-link" style="color:#fff">News</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-1"><a href="/v1/home/home#scrollnav-1" class="ax-text ax-scrollnav-link" style="color:#fff">Features</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-2"><a href="/v1/home/home#scrollnav-2" class="ax-text ax-scrollnav-link" style="color:#fff">Token</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-3"><a href="/v1/home/home#scrollnav-3" class="ax-text ax-scrollnav-link" style="color:#fff">Roadmap</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-5"><a href="/v1/home/home#scrollnav-5" class="ax-text ax-scrollnav-link" style="color:#fff">Team</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-6"><a href="/v1/home/home#scrollnav-6" class="ax-text ax-scrollnav-link" style="color:#fff">FAQ</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-7"><a href="/v1/home/home#scrollnav-7" class="ax-text ax-scrollnav-link" style="color:#fff">Contact</a><span class="ax-line"></span></li>
        </div>
        <div class="ax-item ax-grade"><a href="###" class="ax-text" style="color:#fff">Services<i class="ax-iconfont ax-icon-down"></i></a><span class="ax-line"></span>
          <ul class="ax-outer">
            <!--class="ax-selected"-->
            <li style="margin: 0px;"><a href="/v1/mint/mint">Mint</a></li>
            <li style="margin: 0px;"><a href="/v1/create/createnft">NFT Creation</a></li>
            <li style="margin: 0px;"><a href="/v1/market/market">NFT Market</a></li>
            <li style="margin: 0px;"><a href="/v1/video-view/view">NFT Video</a></li>
          </ul>
        </div>
        <span class="ax-btns">
        <button type="button" class="ax-btn ax-sm ax-longest" id="address-home"></button>
      </span>
      </div>
    </div>
  </nav>
</header>
<div class="ax-space-header"></div>

<!--main-->

<main>
<form id="createNftForm" method="post" action="">
<!--  style="filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;"-->
<div class="ax-padding" >
    <div class="ax-card-block" style="background-color: floralwhite;">
        <div class="ax-form-group">
          <section class="demo-section-border ">
            NFT Production
          </section>
        </div>
<!--        <div class="ax-break-md"></div>-->
        <div class="ax-form-group">
          <div class="ax-flex-row">
            <div class="ax-form-label">Category：</div>
            <div class="ax-flex-block">
              <div class="ax-row">
                <div class="ax-col ax-col-1"><label class="ax-radio"><input name="keyword" value="Picture" checked="" type="radio"/><span>Picture</span></label></div>
                <div class="ax-col ax-col-1"><label class="ax-radio"><input name="keyword" value="Video" type="radio"/><span>Video</span></label></div>
                <div class="ax-col ax-col-3"></div>
                <div class="ax-col ax-col-3"></div>
                <div class="ax-col ax-col-3"></div>
                <div class="ax-col ax-col-3"></div>
                <div class="ax-col ax-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ax-break-md"></div>
        <div class="ax-form-group">
          <div class="ax-flex-row">
            <div class="ax-form-label">File：</div>
            <div class="ax-flex-block">
              <div class="ax-row">
<!--                <div class="ax-file" data-placeholder="点击选择文件" data-text="选择文件">-->
<!--                  <input name="nftFile" type="file" id="fileInput" data-text="Select a file"/>-->
<!--                </div>-->
                <input type="file" id="fileInput" name="nftFile" style="display:none" onchange="changeAgentContent()" />
                <input type="text" class="ax-round ax-sm" value="Please select a file" readonly="" disabled="disabled" id="inputFileAgent" style="width:215px"/>
                <input type="button" class="ax-btn ax-info ax-gradient ax-sm" onclick="document.getElementById('fileInput').click()" value="Select a file" />

              </div>
            </div>
          </div>
        </div>
<!--      <div class="ax-form-group ax-sm">-->
<!--        <div class="ax-flex-row">-->
<!--          <div class="ax-form-label">File：</div>-->
<!--          <div class="ax-form-con">-->
<!--            <div class="ax-form-input">-->
<!--              <div class="ax-file" data-placeholder="Select a file" data-text="Select a file">-->
<!--                <input name="nftFile" type="file" id="fileInput" class="ax-sm"/>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!--      <div class="ax-break-md"></div>-->
      <div class="ax-form-group">
        <div class="ax-flex-row">
          <div class="ax-form-label">Title：</div>
          <div class="ax-flex-block">
            <div class="ax-row">
              <div class="ax-col ax-col-1">
                  <input id="title" class="ax-round ax-sm" type="text" style="width:300px"/>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="ax-break-md"></div>-->
      <div class="ax-form-group">
        <div class="ax-flex-row">
          <div class="ax-form-label">Introduction：</div>
          <div class="ax-flex-block">
            <div class="ax-row">
              <div class="ax-col ax-col-1">
                <textarea id="desc" cols="" rows="" placeholder="Introduction" style="width:300px;height:100px;"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="ax-break-md"></div>-->
      <div class="ax-form-group">
        <div class="ax-flex-row">
          <a href="###" class="ax-btn ax-primary ax-sm ax-round" onclick="createNft()">Create NFT</a>
        </div>
      </div>
    </div>
</div>
</form>

<div class="ax-padding">
  <div class="ax-tab">
    <div class="ax-menu-page ax-tab-nav">
      <a id="tab-img" href="###" class="ax-item" onclick="tag(1)"><i class="ax-iconfont ax-icon-image"></i>Picture NFT</a>
      <a id="tab-vedio" href="###" class="ax-item" onclick="tag(2)"><i class="ax-iconfont ax-icon-video"></i>Video NFT</a>
    </div>
  </div>

  <div class="ax-break-md"></div>
  <div class="ax-filter ax-border" id="type-filter">

  </div>
  <div class="ax-break-xs"></div>

  <div class="ax-grid ax-space-xxl ax-split-3" id="pt-list">

  </div>
  <div class="ax-pagination" id="page-split">

  </div>

</div>
  <div class="push"></div>
</main>

<div id="pop-sell-w" style="display: none;background-color: floralwhite;">
  <div class="ax-window-title" style="background-color: floralwhite;">Price Setting</div>
  <div class="ax-break-line"></div>
<!--  <div class="ax-padding">-->
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-window-label">Price：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="price" class="ax-form-input ax-round ax-sm" type="number" style="width:250px"/>
              <span>DAY</span>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  </div>-->
  <div class="ax-break-line"></div>
  <div class="ax-row ax-operate">
    <a href="###" class="ax-col ax-col-8 ax-close">Cancel</a>
    <span class="ax-gutter-line"></span>
    <a href="###" class="ax-col ax-col-8 ax-close" onclick="sell(1)">Sell</a>
  </div>
</div>

<div id="pop-pm-w" style="display: none;background-color: floralwhite;">
  <div class="ax-window-title" style="background-color: floralwhite;">Auction Setting</div>
  <div class="ax-break-line"></div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Lowest Price：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="minprice" class="ax-round ax-sm" type="number" style="width:300px"/>
              <span>DAY</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Minimum Increase Per Bid：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="mincall" class="ax-round ax-sm" type="number" style="width:300px"/>
              <span>DAY</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Auction Ending Time：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="endtime" class="ax-round ax-sm" type="datetime-local" style="width:300px"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-row ax-operate">
    <a href="###" class="ax-col ax-col-8 ax-close">Cancel</a>
    <span class="ax-gutter-line"></span>
    <a href="###" class="ax-col ax-col-8 ax-close" onclick="pm(1)">Auction</a>
  </div>
</div>

<div id="pop-zr-w" style="display: none;background-color: floralwhite;">
  <div class="ax-window-title" style="background-color: floralwhite;">Transfer NFT</div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Receive Account：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="toAddress" class="ax-round ax-sm" type="text" style="width:300px"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-row ax-operate">
    <a href="###" class="ax-col ax-col-8 ax-close">Cancel</a>
    <span class="ax-gutter-line"></span>
    <a href="###" class="ax-col ax-col-8 ax-close" onclick="transfer(1)">Transfer</a>
  </div>
</div>

<!-- video windows setting -->
<div id="pop-sell-w-v" style="display: none;background-color: floralwhite;">
  <div class="ax-window-title" style="background-color: floralwhite;">Price Setting</div>
  <div class="ax-break-line"></div>
  <!--  <div class="ax-padding">-->
  <div class="ax-form-group">
    <div class="ax-flex-row">
      <div class="ax-window-label">Price：</div>
      <div class="ax-flex-block">
        <div class="ax-row">
          <div class="ax-col ax-col-1">
            <input id="price-v" class="ax-form-input ax-round ax-sm" type="number" style="width:250px"/>
            <span>DAY</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div>-->
  <div class="ax-break-line"></div>
  <div class="ax-row ax-operate">
    <a href="###" class="ax-col ax-col-8 ax-close">Cancel</a>
    <span class="ax-gutter-line"></span>
    <a href="###" class="ax-col ax-col-8 ax-close" onclick="sell(2)">Sell</a>
  </div>
</div>

<div id="pop-pm-w-v" style="display: none;background-color: floralwhite;">
  <div class="ax-window-title" style="background-color: floralwhite;">Auction Setting</div>
  <div class="ax-break-line"></div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Lowest Price：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="minprice-v" class="ax-round ax-sm" type="number" style="width:300px"/>
              <span>DAY</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Minimum Increase Per Bid：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="mincall-v" class="ax-round ax-sm" type="number" style="width:300px"/>
              <span>DAY</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Auction Ending Time：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="endtime-v" class="ax-round ax-sm" type="datetime-local" style="width:300px"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-row ax-operate">
    <a href="###" class="ax-col ax-col-8 ax-close">Cancel</a>
    <span class="ax-gutter-line"></span>
    <a href="###" class="ax-col ax-col-8 ax-close" onclick="pm(2)">Auction</a>
  </div>
</div>

<div id="pop-zr-w-v" style="display: none;background-color: floralwhite;">
  <div class="ax-window-title" style="background-color: floralwhite;">Transfer NFT</div>
  <div class="ax-padding">
    <div class="ax-form-group">
      <div class="ax-flex-row">
        <div class="ax-form-label">Receive Account：</div>
        <div class="ax-flex-block">
          <div class="ax-row">
            <div class="ax-col ax-col-1">
              <input id="toAddress-v" class="ax-round ax-sm" type="text" style="width:300px"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-line"></div>
  <div class="ax-row ax-operate">
    <a href="###" class="ax-col ax-col-8 ax-close">Cancel</a>
    <span class="ax-gutter-line"></span>
    <a href="###" class="ax-col ax-col-8 ax-close" onclick="transfer(2)">Transfer</a>
  </div>
</div>

<!--ax-valign ax-bottom-->
<footer>
  <div class="ax-padding">
    <div class="ax-row ax-split">
      <div class="ax-col ax-copyright">
        <a href="###">DAYNFT</a>　Copyright © 2021 DAY Finance Providing you with a silky smooth user experience
      </div>
      <div class="ax-operate">
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-github"></i></a>
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-paperplane-fill"></i></a>
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-twitter-fill"></i></a>
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-email-fill"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://src.axui.cn/src/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/src/js/ax.min.js" type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/scrollnav/scrollnav.min.js' type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/sticky/jquery.sticky.min.js' type="text/javascript"></script>
<script type="text/javascript" th:src="@{/static/js/upload.js}"></script>
<script>
  var int=self.setInterval("init(true,true)",1000);
  window.onload = function() {
    init(true,false);
  };
</script>
</body>
</html>