<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Home</title>
  <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/me.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" th:src="@{/static/js/market.js}"></script>
  <script src="https://unpkg.com/ipfs-http-client/dist/index.min.js"></script>

</head>
<body>

<header class="ax-header">
  <nav>
    <div class="ax-row" style="background-color: #37517e;">
      <div class="ax-col">
        <a href="###" class="ax-logo"><img src="/static/images/logo.png" /></a>
      </div>
      <div class="ax-nav ax-scrollnav-h" style="background-color: #37517e;" id="article-nav1">
        <div class="ax-item">
          <li class="ax-scrollnav-item" data-section="scrollnav"><a href="/v1/home/home#scrollnav" class="ax-text ax-scrollnav-link" style="color:#fff">首页</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-1"><a href="/v1/home/home#scrollnav-1" class="ax-text ax-scrollnav-link" style="color:#fff">特点</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-2"><a href="/v1/home/home#scrollnav-2" class="ax-text ax-scrollnav-link" style="color:#fff">代币</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-3"><a href="/v1/home/home#scrollnav-3" class="ax-text ax-scrollnav-link" style="color:#fff">路线图</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-4"><a href="/v1/home/home#scrollnav-4" class="ax-text ax-scrollnav-link" style="color:#fff">新闻</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-5"><a href="/v1/home/home#scrollnav-5" class="ax-text ax-scrollnav-link" style="color:#fff">团队</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-6"><a href="/v1/home/home#scrollnav-6" class="ax-text ax-scrollnav-link" style="color:#fff">问题</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-7"><a href="/v1/home/home#scrollnav-7" class="ax-text ax-scrollnav-link" style="color:#fff">联系方式</a><span class="ax-line"></span></li>
        </div>
        <div class="ax-item ax-grade"><a href="###" class="ax-text" style="color:#fff">服务<i class="ax-iconfont ax-icon-down"></i></a><span class="ax-line"></span>
          <ul class="ax-outer">
            <!--class="ax-selected"-->
            <li><a href="/v1/mint/mint">挖矿</a></li>
            <li><a href="/v1/create/createnft">NFT制作</a></li>
            <li><a href="/v1/market/market">NFT市场</a></li>
            <li><a href="###">短视频</a></li>
          </ul>
        </div>
        <span class="ax-btns">
        <button type="button" class="ax-btn ax-sm ax-longest" id="address-home"></button>
      </span>
      </div>
    </div>
  </nav>
</header>
<div class="ax-space-header"></div>

<!--main-->

<main>
<div class="ax-padding">
  <div class="ax-tab">
    <div class="ax-menu-page ax-tab-nav">
      <a id="tab-img" href="###" class="ax-item" onclick="imgNft(1)"><i class="ax-iconfont ax-icon-image"></i>图片NFT</a>
      <a id="tab-vedio" href="###" class="ax-item" onclick="vedioNft(1)"><i class="ax-iconfont ax-icon-video"></i>短视频NFT</a>
    </div>
  </div>

  <div class="ax-break-md"></div>
  <div class="ax-filter ax-border">
    <div class="ax-break-xs"></div>
    <div class="ax-item ax-flex-row">
      <span class="ax-head">类型</span>
      <div class="ax-flex-block">
        <div class="ax-text">
          <a id="sell-img" class="ax-active" href="###" onclick="imgNft(1)">一口价</a>
          <a id="pm-img" href="###" onclick="pmquery(1)">拍卖中</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ax-break-xs"></div>
  <div class="ax-grid ax-space-xxl ax-split-3" id="all-pt-list">

  </div>
  <div class="ax-pagination" id="all-page-split">

  </div>

</div>
</main>

<div id="pop-bid-w" style="display: none;background-color: floralwhite;">
  <div class="ax-window-title" style="background-color: floralwhite;">Price Setting</div>
  <div class="ax-break-line"></div>
  <!--  <div class="ax-padding">-->
  <div class="ax-form-group">
    <div class="ax-flex-row">
      <div class="ax-window-label">Bid：</div>
      <div class="ax-flex-block">
        <div class="ax-row">
          <div class="ax-col ax-col-1">
            <input id="bidprice" class="ax-form-input ax-round ax-sm" type="number" style="width:250px"/>
            <span>DAY</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div>-->
  <div class="ax-break-line"></div>
  <div class="ax-row ax-operate">
    <a href="###" class="ax-col ax-col-8 ax-close">取消</a>
    <span class="ax-gutter-line"></span>
    <a href="###" class="ax-col ax-col-8 ax-close" onclick="bid()">确定</a>
  </div>
</div>
<!--ax-valign ax-bottom-->
<footer>
  <div class="ax-padding">
    <section id="scrollnav-7" class="content7 section7">
      <div class="ax-row ax-split">
        <div class="ax-col ax-copyright">
          <a href="###">DAYNFT</a>版权所有　Copyright © 2021 DAY Finance 为您提供丝滑般的用户体验
        </div>
        <div class="ax-operate">
          <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-github"></i></a>
          <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-paperplane-fill"></i></a>
          <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-twitter-fill"></i></a>
          <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-email-fill"></i></a>
        </div>
      </div>
    </section>
  </div>
</footer>

<script src="https://src.axui.cn/src/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/src/js/ax.min.js" type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/scrollnav/scrollnav.min.js' type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/sticky/jquery.sticky.min.js' type="text/javascript"></script>

<script type="text/javascript">

window.onload = function() {
/* <![CDATA[ */
  if (!window.tronWeb) {
    const HttpProvider = TronWeb.providers.HttpProvider;
    const fullNode = new HttpProvider('https://api.trongrid.io');
    const solidityNode = new HttpProvider('https://api.trongrid.io');
    const eventServer = 'https://api.trongrid.io/';

    const tronWeb = new TronWeb(
        fullNode,
        solidityNode,
        eventServer,
    );

    window.tronWeb = tronWeb;
  }
  if (window.tronWeb && window.tronWeb.defaultAddress) {
    var char = "***";
    var str = window.tronWeb.defaultAddress.base58;
    if(str && str.length>8){
    str = str.substring(0, 8) + char + str.substring(str.length - 8);
    }else{
    str = "";
    }
    document.getElementById('address-home').innerText=str;
    imgNft(1);
  }
/* ]]> */
};

</script>

</body>
</html>