<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
  <meta http-equiv="expires" content="0"/>
  <title>help</title>
  <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/me.css" rel="stylesheet" type="text/css" />

</head>
<body>

<header class="ax-header" id="header">
</header>
<script type="text/javascript" th:src="@{/static/js/header.js}"></script>
<div class="ax-space-header"></div>

<!--main-->

<main>
<div class="ax-padding wrapper-mark">
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          Installation and use of TronLink wallet plugin
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、首先安装tronlink钱包插件</p>
          <img class="img-common" src="/static/images/help/1.png"/>
          <img class="img-common" src="/static/images/help/2.png"/>
          <p>2、如果没有tronlink账户，注册一个tronlink账户</p>
          <p>3、登录tronlink钱包</p>
          <img class="img-common" src="/static/images/help/3.png"/>
          <p>4、切换网络：切换到TRON Nile 测试网</p>
          <img class="img-common" src="/static/images/help/4.png"/>
        </div>
      </div>
    </div>
  </section>
  <div class="ax-break-md"></div>
  <div class="ax-break-line"></div>
  <div class="ax-break-xs"></div>
<!--  <h2>Steps of mining</h2>-->
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          Steps of mining
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、需要申请测试网的trx，主要是用来支付合约调用的费用</p>
          <img class="img-common" src="/static/images/help/5.png"/>
          <p>2、需要申请测试网的day，主要是用来支付创建nft的费用和抵押挖矿</p>
          <img class="img-common" src="/static/images/help/6.png"/>
          <p>3、选择Service中的mint</p>
          <img class="img-common" src="/static/images/help/7.png"/>
          <p>4、可以选择Service中的DAY POOL或者DAY + NFT POOL；DAY POOL支持仅使用DAY进行挖矿，DAY + NFT POOL支持使用DAY+魔盒NFT进行挖矿；
            两个矿池的年化收益会存在5倍的差异，使用NFT挖矿的矿池收益率更高。</p>
          <img class="img-common" src="/static/images/help/8.png"/>
          <p>5、点击Stake，输入抵押的DAY数量就可以进行挖矿了（如果是NFT挖矿还需要选择一个NFT）！就是这么的简单。</p>
          <img class="img-common" src="/static/images/help/9.png"/>
          <img class="img-common" src="/static/images/help/10.png"/>
        </div>
      </div>
    </div>
  </section>
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          How to buy magic box
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、进入NFT挖矿页面，然后点击购买魔盒按钮即可。就是这么的简单！</p>
          <img class="img-common" src="/static/images/help/11.png"/>
        </div>
      </div>
    </div>
  </section>
</div>
  <div class="push"></div>
</main>

<!--ax-valign ax-bottom-->
<!--<div class="wrapper">-->
<!--  &lt;!&ndash; content &ndash;&gt;-->
<!--  <div class="push"></div>-->
<!--</div>-->
<footer id="footer">
</footer>

<script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/js/ax.min.js" type="text/javascript"></script>
<script src='/static/plugins/scrollnav/scrollnav.min.js' type="text/javascript"></script>
<script src='/static/plugins/sticky/jquery.sticky.min.js' type="text/javascript"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script>
  var int=self.setInterval("init(false,true)",interval);
  window.onload = function() {
    init(false,false);
  };
</script>
</body>
</html>