<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
  <meta http-equiv="expires" content="0"/>
  <title>help</title>
  <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/me.css" rel="stylesheet" type="text/css" />

</head>
<body>

<header class="ax-header" id="header">
</header>
<script type="text/javascript" th:src="@{/static/js/header.js}"></script>
<div class="ax-space-header"></div>

<!--main-->

<main>
<div class="ax-padding wrapper-mark">
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          Installation and use of TronLink wallet plugin
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、First install the TronLink wallet plugin</p>
          <img class="img-common" src="/static/images/help/1.png"/>
          <img class="img-common" src="/static/images/help/2.png"/>
          <p>2、If you don't have a TronLink account, sign up for a TronLink account</p>
          <p>3、Login to tronlink wallet</p>
          <img class="img-common" src="/static/images/help/3.png"/>
          <p>4、Switching networks: switch to TRON Nile test network</p>
          <img class="img-common" src="/static/images/help/4.png"/>
        </div>
      </div>
    </div>
  </section>
  <div class="ax-break-md"></div>
  <div class="ax-break-line"></div>
  <div class="ax-break-xs"></div>
<!--  <h2>Steps of mining</h2>-->
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          Steps of mining
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、Need to apply for TRX of test network, mainly to pay for contract calls</p>
          <img class="img-common" src="/static/images/help/5.png"/>
          <p>2、You need to apply for a test network DAY, which is mainly used to pay for the creation of NFT and collateral mining</p>
          <img class="img-common" src="/static/images/help/6.png"/>
          <p>3、Select mint in Service</p>
          <img class="img-common" src="/static/images/help/7.png"/>
          <p>4、You can choose either DAY POOL or DAY + NFT POOL in Service; DAY POOL supports mining using only DAY, DAY + NFT POOL supports mining using DAY + Magic Box NFT.
            The annualized return of the two mining pools will have a difference of 5 times, the mining pool using NFT mining has a higher rate of return.</p>
          <img class="img-common" src="/static/images/help/8.png"/>
          <p>5、Click Stake, enter the number of DAYs pledged and you're ready to mine (if it's NFT mining you also need to select an NFT)! It's that simple.</p>
          <img class="img-common" src="/static/images/help/9.png"/>
          <img class="img-common" src="/static/images/help/10.png"/>
        </div>
      </div>
    </div>
  </section>
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          How to buy magic box
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、Just go to the NFT mining page and then click the Buy Magic Box button. It's that easy!</p>
          <img class="img-common" src="/static/images/help/11.png"/>
        </div>
      </div>
    </div>
  </section>
</div>
  <div class="push"></div>
</main>

<!--ax-valign ax-bottom-->
<!--<div class="wrapper">-->
<!--  &lt;!&ndash; content &ndash;&gt;-->
<!--  <div class="push"></div>-->
<!--</div>-->
<footer id="footer">
</footer>

<script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/js/ax.min.js" type="text/javascript"></script>
<script src='/static/plugins/scrollnav/scrollnav.min.js' type="text/javascript"></script>
<script src='/static/plugins/sticky/jquery.sticky.min.js' type="text/javascript"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script>
  var int=self.setInterval("init(false,true)",interval);
  window.onload = function() {
    init(false,false);
  };
</script>
</body>
</html>