<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
  <meta http-equiv="expires" content="0"/>
  <title>help</title>
  <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/me.css" rel="stylesheet" type="text/css" />

</head>
<body>

<header class="ax-header" id="header">
</header>
<script type="text/javascript" th:src="@{/static/js/header.js}"></script>
<div class="ax-space-header"></div>

<!--main-->

<main>
<div class="ax-padding wrapper-mark">
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          Installation and use of TronLink wallet plugin
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>
            <a target="_blank" href="https://www.tronlink.org/">1、First install the TronLink wallet plugin</a>
          </p>
          <a target="_blank" style="text-decoration:underline;" href="https://chrome.google.com/webstore/detail/tronlink%EF%BC%88%E6%B3%A2%E5%AE%9D%E9%92%B1%E5%8C%85%EF%BC%89/ibnejdfjmmkpcnlpebklmnkoeoihofec">Install</a>
          <p>2、If you don't have a TronLink account, sign up for a TronLink account</p>
          <a style="text-decoration:underline;" href="https://tron7010.zendesk.com/hc/en-us/categories/360001579191-Chrome-User-Guide">Chrome User Guide</a>
          <p>3、Login to tronlink wallet</p>
        </div>
      </div>
    </div>
  </section>
  <div class="ax-break-md"></div>
  <div class="ax-break-line"></div>
  <div class="ax-break-xs"></div>
<!--  <h2>Steps of mining</h2>-->
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          Steps of mining
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、You need to have a certain amount of TRX, mainly to pay for contract calls</p>
          <p>2、You need to have a certain amount of DAY, which is mainly used to pay for the creation of NFT and collateral mining</p>
          <p>3、Click Mint</p>
          <img class="img-common" src="/static/images/help/7.png"/>
          <p>4、You can choose either DAY POOL or DAY + NFT POOL in Service; DAY POOL supports mining using only DAY, DAY + NFT POOL supports mining using DAY + Magic Box NFT.
            The annualized return of the two mining pools will have a difference of 5 times, the mining pool using NFT mining has a higher rate of return.</p>
          <img class="img-common" src="/static/images/help/8.png"/>
          <p>5、Click Stake, enter the number of DAYs pledged and you're ready to mine (if it's NFT mining you also need to select an NFT)! It's that simple.</p>
          <img class="img-common" src="/static/images/help/9.png"/>
          <img class="img-common" src="/static/images/help/10.png"/>
        </div>
      </div>
    </div>
  </section>
  <div class="ax-break-md"></div>
  <div class="ax-break-line"></div>
  <div class="ax-break-xs"></div>
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          How to buy magic box
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、Just go to the NFT mining page and then click the Buy Box button</p>
          <p>2、Or click the Buy And Open Box button. This will mean buying and opening the box directly.</p>
          <p>3、A fee of 100 MH Tokens is required to buy an Box.Please make sure you have enough MH Tokens in your account.</p>
          <img class="img-common" src="/static/images/help/11.png"/>
        </div>
      </div>
    </div>
  </section>
  <div class="ax-break-md"></div>
  <div class="ax-break-line"></div>
  <div class="ax-break-xs"></div>
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          How to Create NFT
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、Just click My-NFT go to the My NFT page</p>
          <img class="img-common" src="/static/images/help/12.png"/>
          <p>2、Upload the image you need to create, fill in the title, and click Create NFT.</p>
          <p>3、A fee of 100 DAY Tokens is required to create an NFT.Please make sure you have enough DAY Tokens in your account.</p>
          <img class="img-common" src="/static/images/help/13.png"/>
        </div>
      </div>
    </div>
  </section>
  <div class="ax-break-md"></div>
  <div class="ax-break-line"></div>
  <div class="ax-break-xs"></div>
  <section class="content3 ax-lazy">
    <div class="section-div">
      <div class="section-title ax-lazy">
        <h2>
          How to trade NFT.
        </h2>
      </div>
      <div class="ax-step ax-lazy">
        <div class="ax-item" style="text-align: left;">
          <p>1、Just click My-NFT go to the My NFT page</p>
          <img class="img-common" src="/static/images/help/12.png"/>
          <p>2、You can add NFT to the one-bite market, or you can add NFT to the auction market, or you can transfer directly to a particular user.</p>
          <img class="img-common" src="/static/images/help/14.png"/>
          <p>3、You can view the NFTs you have added to the market here.</p>
          <img class="img-common" src="/static/images/help/15.png"/>
          <p>4、Now You can click Market go to the Market page. Here you can buy directly or bid at auction.</p>
          <img class="img-common" src="/static/images/help/16.png"/>
        </div>
      </div>
    </div>
  </section>
</div>
  <div class="push"></div>
</main>

<!--ax-valign ax-bottom-->
<!--<div class="wrapper">-->
<!--  &lt;!&ndash; content &ndash;&gt;-->
<!--  <div class="push"></div>-->
<!--</div>-->
<footer id="footer">
</footer>

<script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/js/ax.min.js" type="text/javascript"></script>
<script src='/static/plugins/scrollnav/scrollnav.min.js' type="text/javascript"></script>
<script src='/static/plugins/sticky/jquery.sticky.min.js' type="text/javascript"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script>
  var int=self.setInterval("init(false,true)",interval);
  window.onload = function() {
    init(false,false);
  };
</script>
</body>
</html>