<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Home</title>
  <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
  <link href="https://src.axui.cn/src/css/ax.css" rel="stylesheet" type="text/css" />
  <link href="https://src.axui.cn/src/css/ax-response.css" rel="stylesheet" type="text/css" />

</head>
<body class="ax-admin">
<!--<nav class="ax-flex-col">-->
<!--  ...-->
<!--</nav>-->

<header class="ax-header">
  <div class="ax-row">
    <a href="###" class="ax-open ax-iconfont ax-icon-menu"></a>
    <a href="###" class="ax-open ax-iconfont ax-icon-cart"></a>
    <span class="ax-open"></span>
    <div class="ax-col">
      <a href="###" class="ax-logo"><img src="https://src.axui.cn/examples/images/ax-logo.png" /></a>
    </div>
    <div class="ax-nav ax-scrollnav-h" id="article-nav02">
      <div class="ax-item" id="h1"><a href="#ax-scrollnav-1" class="ax-text ax-scrollnav-link" onclick="select('h1')">首页</a><span class="ax-line"></span></div>
      <div class="ax-item" id="h2"><a href="#ax-scrollnav-2" class="ax-text ax-scrollnav-link" onclick="select('h2')">特点</a><span class="ax-line"></span></div>
      <div class="ax-item" id="h3"><a href="#ax-scrollnav-3" class="ax-text ax-scrollnav-link" onclick="select('h3')">代币</a><span class="ax-line"></span></div>
      <div class="ax-item" id="h4"><a href="#ax-scrollnav-4" class="ax-text ax-scrollnav-link" onclick="select('h4')">路线图</a><span class="ax-line"></span></div>
      <div class="ax-item" id="h5"><a href="#ax-scrollnav-5" class="ax-text ax-scrollnav-link" onclick="select('h5')">新闻</a><span class="ax-line"></span></div>
      <div class="ax-item" id="h6"><a href="#ax-scrollnav-6" class="ax-text ax-scrollnav-link" onclick="select('h6')">团队</a><span class="ax-line"></span></div>
      <div class="ax-item" id="h7"><a href="#ax-scrollnav-7" class="ax-text ax-scrollnav-link" onclick="select('h7')">问题</a><span class="ax-line"></span></div>
      <div class="ax-item" id="h8"><a href="#ax-scrollnav-8" class="ax-text ax-scrollnav-link" onclick="select('h8')">联系方式</a><span class="ax-line"></span></div>
      <div class="ax-item ax-grade"><a href="###" class="ax-text">服务<i class="ax-iconfont ax-icon-down"></i></a><span class="ax-line"></span>
        <ul class="ax-outer">
          <!--class="ax-selected"-->
          <li><a href="/v1/mint/mint">Mint服务</a></li>
          <li><a href="/v1/create/createnft">NFT制作</a></li>
          <li><a href="###">短视频服务</a></li>
        </ul>
      </div>

      <span class="ax-btns">
<!--        <a href="###" class="ax-iconfont ax-icon-question-o-fill"><span class="ax-dot"></span></a>-->
<!--        <a href="/v1/mint/mint" class="ax-tag ax-info">Mint服务</a>-->
<!--        <a href="###" class="ax-iconfont ax-icon-person-fill"></a>-->
        <button type="button" class="ax-btn ax-sm ax-longest" id="address-home"></button>
      </span>

    </div>
    <a href="###" class="ax-open ax-iconfont ax-icon-bell-fill"><span class="ax-badge">2</span></a>
    <a href="###" class="ax-open ax-iconfont ax-icon-person"><span class="ax-dot"></span></a>
    <a href="###" class="ax-open ax-iconfont ax-icon-search"></a>
  </div>
</header>
<div class="ax-space-header"></div>

<!--main-->
<main id="article02">
<!--  <p th:text="${window.tronWeb.address}">address</p>-->
  <div id="ax-scrollnav-1">
    <h2 style="text-align:center">特点</h2>
    <p>
      Diagon Alley NFT intelligent management platform is committed to becoming the most professional decentralized NFT management platform in the world.
      The final product is a trustless, transparent, and well-incentive platform for NFT production, trading, auctions and other operations.
      It will publish its own chains, and will provide cross-chain services for NFTs on different chains.
      Based on Substrate development, combined with Polkadot’s cross-chain ecology, it introduces unlimited possibilities for NFT transactions.
      The Diagon Alley NFT intelligent service platform is committed to exploring user needs, expanding the scale of the NFT field, reducing user thresholds, and enabling users to conduct large-scale transactions safely and at low cost.
      It is the responsibility of the building to expand and accumulate the NFT user pool.
    </p>

  </div>
  <div class="ax-padding" id="ax-scrollnav-2">
    <div class="ax-grid ax-space-xxl ax-split">
      <ul class="ax-grid-inner">
        <li class="ax-grid-block ax-col-12">
          <div class="ax-card-block">
            <div class="ax-img">
              <a href="###" class="ax-figure" style="background-image:url(https://src.axui.cn/examples/images/image-7.jpg),url(https://src.axui.cn/src/images/loading.gif);"></a>
            </div>
            <div class="ax-title">
              <a href="###" class="ax-ell-title">欧洲最长屋桥盛不下千年传奇</a>
            </div>
            <div class="ax-des ax-ell-2-des">
              埃尔福特是图林根州首府，在中世纪就是该地区的经济重镇。 它位于南北交通要道的中心位置，很多贸易物流要通过这里。格拉河从埃尔福特市中心穿过。
            </div>
            <div class="ax-keywords">
              关键字：<span class="ax-child">威尼斯</span><span class="ax-child">暴雨</span><span class="ax-child">最高纪录</span>
            </div>
            <div class="ax-view">
              <div class="ax-flex-row">
                <div class="ax-flex-block">
                  <a href="###" class="ax-heads ax-align-left-center"><span class="" style="background-image:url(https://src.axui.cn/examples/images/head01.jpg)"></span><span class="" style="background-image:url(https://src.axui.cn/examples/images/head02.jpg)"></span><span class="" style="background-image:url(https://src.axui.cn/examples/images/head03.jpg)"></span><i>共56人查阅</i></a>
                </div>
                3天前发布
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="ax-scrollnav-3">
    <p>nihao</p>
  </div>
  <footer>
    ...
  </footer>
</main>
<!--<div class="ax-scrollnav-v" id="ax-scrollnav-1">-->
<!--  <a href="##" class="ax-close ax-iconfont ax-icon-arrow-right"></a>-->
<!--</div>-->


<script src="https://src.axui.cn/src/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/src/js/ax.min.js" type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/scrollnav/scrollnav.min.js' type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/sticky/jquery.sticky.min.js' type="text/javascript"></script>
<script >
    $("#article-nav02").sticky({ topSpacing: 0 ,widthFromWrapper:false,zIndex:2});
    var article02 = document.querySelector('#article02');
    var articlenav02 = document.querySelector('#article-nav02');
    scrollnav.init(article02, {
        insertTarget:articlenav02,
        subSections:'',
    });

    function select(select) {
      document.querySelector('#h1').classList.remove("ax-selected");
      document.querySelector('#h2').classList.remove("ax-selected");
      document.querySelector('#h3').classList.remove("ax-selected");
      document.querySelector('#h4').classList.remove("ax-selected");
      document.querySelector('#' + select).classList.add("ax-selected");
    }

</script>

<script type="text/javascript">
  window.onload = function() {
  if (!window.tronWeb) {
    const HttpProvider = TronWeb.providers.HttpProvider;
    const fullNode = new HttpProvider('https://api.trongrid.io');
    const solidityNode = new HttpProvider('https://api.trongrid.io');
    const eventServer = 'https://api.trongrid.io/';

    const tronWeb = new TronWeb(
        fullNode,
        solidityNode,
        eventServer,
    );

    window.tronWeb = tronWeb;
  }
  if (window.tronWeb) {
    var char = "***";
    var str = window.tronWeb.defaultAddress.base58;
    str = str.substring(0, 8) + char + str.substring(str.length - 8);
    document.getElementById('address-home').innerText=str;
  }
};

</script>

</body>
</html>