<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Home</title>
  <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/ax-response.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/me.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/ipfs-http-client/dist/index.min.js"></script>

</head>
<body>

<header class="ax-header">
  <nav>
    <div class="ax-row" style="background-color: #37517e;">
      <div class="ax-col">
        <a href="###" class="ax-logo"><img src="/static/images/logo.png" /></a>
      </div>
      <div class="ax-nav ax-scrollnav-h" style="background-color: #37517e;" id="article-nav1">
        <div class="ax-item">
          <li class="ax-scrollnav-item" data-section="scrollnav"><a href="/v1/home/home" class="ax-text ax-scrollnav-link" style="color:#fff">Home</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-4"><a href="/v1/home/home#scrollnav-4" class="ax-text ax-scrollnav-link" style="color:#fff">News</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-1"><a href="/v1/home/home#scrollnav-1" class="ax-text ax-scrollnav-link" style="color:#fff">Features</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-2"><a href="/v1/home/home#scrollnav-2" class="ax-text ax-scrollnav-link" style="color:#fff">Token</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-3"><a href="/v1/home/home#scrollnav-3" class="ax-text ax-scrollnav-link" style="color:#fff">Roadmap</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-5"><a href="/v1/home/home#scrollnav-5" class="ax-text ax-scrollnav-link" style="color:#fff">Team</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-6"><a href="/v1/home/home#scrollnav-6" class="ax-text ax-scrollnav-link" style="color:#fff">FAQ</a><span class="ax-line"></span></li>
          <li class="ax-scrollnav-item" data-section="scrollnav-7"><a href="/v1/home/home#scrollnav-7" class="ax-text ax-scrollnav-link" style="color:#fff">Contact</a><span class="ax-line"></span></li>
        </div>
        <div class="ax-item ax-grade"><a href="###" class="ax-text" style="color:#fff">Services<i class="ax-iconfont ax-icon-down"></i></a><span class="ax-line"></span>
          <ul class="ax-outer">
            <!--class="ax-selected"-->
            <li style="margin: 0px;"><a href="/v1/mint/mint">Mint</a></li>
            <li style="margin: 0px;"><a href="/v1/create/createnft">NFT Creation</a></li>
            <li style="margin: 0px;"><a href="/v1/market/market">NFT Market</a></li>
            <li style="margin: 0px;"><a href="/v1/video-view/view">NFT Video</a></li>
          </ul>
        </div>
        <span class="ax-btns">
        <button type="button" class="ax-btn ax-sm ax-longest" id="address-home"></button>
      </span>
      </div>
    </div>
  </nav>
</header>
<div class="ax-space-header"></div>

<!--main-->

<main>
<div class="ax-padding wrapper-mark">
<!--  <div class="ax-tab">-->
<!--    <div class="ax-menu-page ax-tab-nav">-->
<!--      <a id="tab-img" href="###" class="ax-item" onclick="imgNft(1)"><i class="ax-iconfont ax-icon-image"></i>图片NFT</a>-->
<!--      <a id="tab-vedio" href="###" class="ax-item" onclick="vedioNft(1)"><i class="ax-iconfont ax-icon-video"></i>短视频NFT</a>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="ax-break-md"></div>-->
<!--  <div class="ax-filter ax-border">-->
<!--    <div class="ax-break-xs"></div>-->
<!--    <div class="ax-item ax-flex-row">-->
<!--      <span class="ax-head">类型</span>-->
<!--      <div class="ax-flex-block">-->
<!--        <div class="ax-text">-->
<!--          <a id="sell-img" class="ax-active" href="###" onclick="imgNft(1)">一口价</a>-->
<!--          <a id="pm-img" href="###" onclick="pmquery(1)">拍卖中</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="ax-break-xs"></div>-->
  <div class="ax-item ax-flex-row ax-search-box">
<!--    <span class="ax-head">Search</span>-->
    <div class="ax-flex-block">
      <div class="ax-text">
        <input class="ax-round ax-sm" type="text" placeholder="NFT ID Search" style="width:200px"/><a href="###" class="ax-iconfont ax-icon-search">Search</a>
      </div>
    </div>
  </div>
  <div class="ax-break-md"></div>
  <div class="ax-break-line"></div>
  <div class="ax-break-xs"></div>
  <div class="ax-grid ax-space-xxl ax-split-3" id="all-pt-list">

  </div>
  <div class="ax-pagination" id="all-page-split">

  </div>
</div>
  <div class="push"></div>
</main>

<!--ax-valign ax-bottom-->
<!--<div class="wrapper">-->
<!--  &lt;!&ndash; content &ndash;&gt;-->
<!--  <div class="push"></div>-->
<!--</div>-->
<footer>
  <div class="ax-padding">
    <div class="ax-row ax-split">
      <div class="ax-col ax-copyright">
        <a href="###">DAYNFT</a>　Copyright © 2021 DAY Finance Providing you with a silky smooth user experience
      </div>
      <div class="ax-operate">
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-github"></i></a>
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-paperplane-fill"></i></a>
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-twitter-fill"></i></a>
        <a href="###" class="ax-btn ax-line ax-lg ax-icon ax-round"><i class="ax-iconfont ax-icon-email-fill"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://src.axui.cn/src/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/src/js/ax.min.js" type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/scrollnav/scrollnav.min.js' type="text/javascript"></script>
<script src='https://src.axui.cn/src/plugins/sticky/jquery.sticky.min.js' type="text/javascript"></script>
<script type="text/javascript" th:src="@{/static/js/view.js}"></script>
<script>
  var int=self.setInterval("init(true,true)",1000);
  window.onload = function() {
    init(true,false);
  };
</script>
</body>
</html>