<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>learn Resources</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<script type="text/javascript">
  var stompClient = null;
    function setConnected(connected) {
        document.getElementById("connect").disabled = connected;
        document.getElementById("disconnect").disabled = !connected;
        document.getElementById("conversationDiv").style.visibility = connected ? 'visible' : 'hidden';
        $("#response").html();
    }
    function connect() {
        var socket = new SockJS('/endpointSang');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected:' + frame);
            stompClient.subscribe('/topic/getResponse', function (response) {
                showResponse(JSON.parse(response.body).responseMessage);
            })
        });
    }
    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
    }
    function sendName() {
        var name = $('#name').val();
        console.log('name:' + name);
        stompClient.send("/welcome", {}, JSON.stringify({'name': name}));
    }
    function showResponse(message) {
        $("#response").html(message);
    }
</script>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
  <form action="/v1/tlj/add">
    &nbsp;&nbsp;&nbsp;
    <table width="1003" th:title="${table.tableId}">
      <tr>
        <td width="94" height="77"></td>
        <td width="814" align="center">
          <img th:if="${table.site3 != null and table.site3.headImgSrc != null}" th:src="${table.site3.headImgSrc}" width="52" height="52"/>
          <img th:if="${table.site3 == null or table.site3.headImgSrc == null}" src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/>
        </td>
        <td width="79"></td>
      </tr>
      <tr>
        <td rowspan="2">
          <img th:if="${table.site2 != null and table.site2.headImgSrc != null}" th:src="${table.site2.headImgSrc}" width="52" height="52"/>
          <img th:if="${table.site2 == null or table.site2.headImgSrc == null}" src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/>
        </td>
        <td height="460"></td>
        <td rowspan="2">
          <img th:if="${table.site1 != null and table.site1.headImgSrc != null}" th:src="${table.site1.headImgSrc}" width="52" height="52"/>
          <img th:if="${table.site1 == null or table.site1.headImgSrc == null}" src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/>
        </td>
      </tr>
      <tr>
        <td height="160" id="poker">
          <img th:if="${table.me != null and table.me.pokerList != null and table.me.pokerList.size() > 0}" th:etch="poker,status:${table.me.pokerList}" th:style="${'position: absolute;left:'+(10+3*status.count)+';top:200'}" th:src="/images/poker/${poker.pokerType=='GUI' ? poker.value/100 : (poker.pokerType=='HEIT' ? 100+poker.value : (poker.pokerType=='HONGT' ? 200+poker.value : (poker.pokerType=='MEIH' ? 300+poker.value : 400+poker.value)))}.jps"/>
        </td>
      </tr>
      <tr>
        <td height="90"></td>
        <td align="center">
          <img th:if="${table.me != null and table.me.headImgSrc != null}" th:src="${table.me.headImgSrc}" width="52" height="52"/>
          <img th:if="${table.me == null or table.me.headImgSrc == null}" src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/>
          <a th:if="${table.me != null and !table.me.ready}" th:href="@{/v1/tlj/confirm(tableId=${table.tableId})}">准备</a>
          <a th:if="${table.me != null and table.me.ready}" th:href="@{/v1/tlj/un-confirm(tableId=${table.tableId})}">取消准备</a>
        </td>
        <td></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
