<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>learn Resources</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
  <form action="/v1/tlj/add">
    <section class="hero" id="hero">

      <table title="${table.key}">
        <tr>
          <td></td>
          <td>
            <a th:href="@{/v1/tlj/add(tableId=${table.key},site=1)}" name="add">
            <img src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/>
            </a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><button type="button"><img src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/></button></td>
          <td></td>
          <td><button type="button"><img src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/></button></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="button"><img src="http://img.wxcha.com/file/201711/09/3b16c06598.jpg" width="52" height="52"/></button></td>
          <td></td>
        </tr>
      </table>

      <h2 class="hero_header">HERO <span class="light">LIGHT</span></h2>
      <p class="tagline">Light is a simple one page website</p>
    </section>
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
      <tr th:each="forbidden:${result}">
        <td th:text="${forbidden.uri}"></td>
        <td th:text="${forbidden.qps}"></td>
        <td th:text="${forbidden.sameTimeQ}"></td>
        <td th:text="${forbidden.controllerType}"></td>
        <td th:text="${forbidden.value}"></td>
        <td th:text="${forbidden.controllerBeginTime}"></td>
        <td th:text="${forbidden.controllerTime}"></td>
        <td th:text="${forbidden.rate}"></td>
        <td th:text="${forbidden.open}"></td>
        <td th:text="${forbidden.foreverController}"></td>
        <td>
          <a th:href="@{/v1/forbidden/update-page(id=${forbidden.id})}" name="modify">修改</a>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
