<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>learn Resources</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="../static/css/windows.css" th:href="@{/static/css/windows.css}"/>
  <link rel="stylesheet" href="../static/css/table.css" th:href="@{/static/css/table.css}"/>
  <script type="text/javascript"   th:src="@{/static/js/windows.js}"></script>
  <script type="text/javascript"   th:src="@{/static/js/room.js}"></script>
  <script type="text/javascript"   th:src="@{/static/js/request.js}"></script>
</head>
<body>

  <div id="recharge" class="recharge_window">
    <table style="width:100%;">
      <tr>
        <td style="width:20%">
          <span>TRX数量：</span>
        </td>
        <td>
          <input oninput="value=value.replace(/[^\d]/g,'')" style="width:50%" id="coin" name="coin" value="" type="text"/>
          <span id="trxBalance"></span>
        </td>
      </tr>
      <tr>
        <td style="width:35%"><span>私钥（privateKey）：</span></td>
        <td>
          <input style="width:98%" id="pk" name="pk" value="" type="text" onchange="queryTx()"/>
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td align="right">
          <button onclick="closeDialog('recharge')">取消</button>
          <span></span>
          <button onclick="recharge()">确认</button>
        </td>
      </tr>
    </table>
  </div>
  <div id="fade" class="black_overlay"></div>

  <div style="background:url(/static/datingnew.png);height:709px;width:1181px;margin: 0 auto;">
    <div style="position: relative;left: 10.5%;top:1.5%;width:100%;height:50px;">
      <div style="float: left;top:1.5%;width:70%;height:50px;">
        <span id="xingmingName" style="color:#becdd4;" th:text="姓名："></span>
        <span id="name" style="color:#becdd4;" th:text="${peopleInfo.name}"></span>
        <br/>
        <span id="jinbiName" style="color:#bdaa35;" th:text="金币："></span>
        <span id="coinShow" style="color:#bdaa35;" th:text="${peopleInfo.coin}"></span>
      </div>
      <div style="float: left;top:1.5%;width:30%;height:50px;">
        <span style="color:#becdd4;">当前玩家类型：</span>
        <select id="peopleType" onchange="peopleTypeChange()">
          <option value="TRX" th:selected="${peopleInfo.type==1}">TRX</option>
          <option value="JI_FEN" th:selected="${peopleInfo.type==2}">金币</option>
        </select>
      </div>
    </div>
    <div style="position: relative;left: 1%;top:81%;width:100%;height:79px;">
      <div style="float: left;width:18%;height:100%;" align="center">
        <form action="/v1/door/log-out">
          <button style="background: transparent;height: 79px;border:none;font-size:24px;color:#becdd4;outline:none;" type="submit">退出</button>
        </form>
      </div>
      <div style="float: left;width:1%;height:100%;">
      </div>
      <div style="float: left;width:18.2%;height:100%;" align="center">
        <button style="background: transparent;height: 79px;border:none;font-size:24px;color:#becdd4;outline:none;" onclick="openDialog('recharge')">充值</button>
      </div>
      <div style="float: left;width:1%;height:100%;">
      </div>
      <div style="float: left;width:21.5%;height:100%;" align="center">
        <form action="/v1/door/quick-join" id="quickForm">
          <button style="background: transparent;height: 79px;border:none;font-size:24px;color:#becdd4;outline:none;" type="button" onclick="quickJoin()">快速开始</button>
        </form>
      </div>
      <div style="float: left;width:1%;height:100%;">
      </div>
      <div style="float: left;width:18%;height:100%;" align="center">
        <form action="/v1/door/create-room" id="createForm">
          <button style="background: transparent;height: 79px;border:none;font-size:24px;color:#becdd4;outline:none;" type="button" onclick="createRoom()">创建房间</button>
        </form>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        var token = getToken("nb_token");
        websocket = new WebSocket("ws://127.0.0.1:9095/gamesocket?token="+token);
    }
    else{
        alert('Not support websocket')
    }

     //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //解析message
    function parseMessage(message){
      var obj = JSON.parse(message);
      return obj;
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
     /* <![CDATA[ */
      var message = parseMessage(event.data);
      if(message.messageType == "invite"){
        var truthBeTold = window.confirm("是否加入房间");
        if (truthBeTold) {
          var str = {'roomId':message.roomId,'peopleType':message.peopleType}
          doFormRequest("/v1/door/come-in-room","post",str);
        } else{

        }
      }else if(message.messageType == "returnRecharge"){
        document.getElementById('name').innerText=message.name;
        document.getElementById('coinShow').innerText=message.coin;
        var objSelect=document.getElementById('peopleType');
        for (var i = 0; i < objSelect.options.length; i++) {
          if (objSelect.options[i].text == message.peopleType) {
            objSelect.options[i].selected = true;
          }else{
            objSelect.options[i].selected = false;
          }
        }
      }
       /* ]]> */
    }

</script>

</html>
