<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>learn Resources</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="../static/css/windows.css" th:href="@{/static/css/windows.css}"/>
</head>
<body>

  <div style="background:url(/static/datingnew.png);height:709px;width:1181px;margin: 0 auto;">
    <div style="position: relative;left: 10.5%;top:1.5%;width:100%;height:50px;">
      <span id="name" style="color:#becdd4;" th:text="${message}"></span>
    </div>
  </div>
</body>

</html>
