<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="
    height: 100%;
    width: 100%;
">
<head>
  <title>learn Resources</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body
    style="background-image:url(/static/room1.png);background-size: 100% 100%; background-repeat:no-repeat;">

<!--<input id="text" type="text" /><button onclick="send()">Send</button>-->
<!--<button onclick="closeWebSocket()">Close</button>-->
<div style="position: absolute;left: 3.5%;top:3%;width:250px;height:25px;" id="leaveDiv">
  <button onclick="leave()">离开房间</button>
</div>
<div style="position: absolute;left: 10.5%;top:3%;width:250px;height:25px;" id="confirmDiv">
  <input id="coin" name="coin" value="" type="text"/>
  <button onclick="confirmGame()">下注</button>
</div>
<div style="position: absolute;left: 30.5%;top:3%;width:250px;height:25px;" id="zuozhuangDiv">
  <button onclick="zuozhuang()">坐庄</button>
</div>
<div style="position: absolute;left: 35.5%;top:3%;width:250px;height:25px;" id="beginDiv">
  <button onclick="begin()">开始游戏</button>
</div>
<div style="position: absolute;right: 3.5%;top:3%;width:250px;height:25px;">
  <input id="inviteName" name="name" value="" type="text"/>
  <button onclick="invite()">邀请玩家</button>
</div>
<div id="room">
  <span id="roomId" hidden="hidden" th:text="${room.roomId}"></span>
</div>
<div id="userInfo">
  <span id="userId" hidden="hidden" th:text="${userInfo.id}"></span>
  <span id="userName" hidden="hidden" th:text="${userInfo.userName}"></span>
</div>
<div id="people0Poke" style="position: absolute;left: 15.5%;top: 15%;width:200px;height:200px;">
</div>
<div id="people0" style="position: absolute;left: 5.5%;top: 8%;width:150px;height:50px;">
  <span id="name0" style="color:#F00">姓名：</span>
  <br/>
  <span id="coin0" style="color:#F00">金币：</span>
  <span id="confirm0" style="color:#F00"></span>
  <span id="zuozhuang0" style="color:#F00"></span>
</div>
<div id="people1Poke" style="position: absolute;left: 15.5%;bottom: 25%;width:200px;height:200px;">
</div>
<div id="people1" style="position: absolute;left: 5.5%; bottom: 15%;width:150px;height:50px;">
  <span id="name1" style="color:#F00">姓名：</span>
  <br/>
  <span id="coin1" style="color:#F00">金币：</span>
  <span id="confirm1" style="color:#F00"></span>
  <span id="zuozhuang1" style="color:#F00"></span>
</div>
<div id="people2Poke" style="position: absolute;left: 35.5%;bottom: 10%;width:200px;height:200px;">
</div>
<div id="people2" style="position: absolute;left: 28.5%; bottom: 3%;width:150px;height:50px;">
  <span id="name2" style="color:#F00">姓名：</span>
  <br/>
  <span id="coin2" style="color:#F00">金币：</span>
  <span id="confirm2" style="color:#F00"></span>
  <span id="zuozhuang2" style="color:#F00"></span>
</div>
<div id="people3Poke" style="position: absolute;right: 35.5%;bottom: 10%;width:200px;height:200px;">
</div>
<div id="people3" style="position: absolute;right: 28.5%; bottom: 3%;width:150px;height:50px;">
  <span id="name3" style="color:#F00">姓名：</span>
  <br/>
  <span id="coin3" style="color:#F00">金币：</span>
  <span id="confirm3" style="color:#F00"></span>
  <span id="zuozhuang3" style="color:#F00"></span>
</div>
<div id="people4Poke" style="position: absolute;right: 15.5%;bottom: 20%;width:200px;height:200px;">
</div>
<div id="people4" style="position: absolute;right: 5.5%; bottom: 15%;width:150px;height:50px;">
  <span id="name4" style="color:#F00">姓名：</span>
  <br/>
  <span id="coin4" style="color:#F00">金币：</span>
  <span id="confirm4" style="color:#F00"></span>
  <span id="zuozhuang4" style="color:#F00"></span>
</div>
<div id="people5Poke" style="position: absolute;right: 15.5%;top: 12%;width:200px;height:200px;">
</div>
<div id="people5" style="position: absolute;right: 5.5%;top: 8%;width:150px;height:50px;">
  <span id="name5" style="color:#F00">姓名：</span>
  <br/>
  <span id="coin5" style="color:#F00">金币：</span>
  <span id="confirm5" style="color:#F00"></span>
  <span id="zuozhuang5" style="color:#F00"></span>
</div>
</body>

<script type="text/javascript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        var token = getToken("nb_token");
        websocket = new WebSocket("ws://127.0.0.1:9095/gamesocket?token="+token);
    }
    else{
        alert('Not support websocket')
    }

    //读取cookies
    function getToken(name)
    {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

        if(arr=document.cookie.match(reg))

            return unescape(arr[2]);
        else
            return null;
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        var roomId = document.getElementById('roomId').innerText
        var str = {"messageType":"getRoom","roomId":roomId}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
      var message = parseMessage(event.data);
      if(message.messageType == "invite"){
        var truthBeTold = window.confirm("是否加入房间");
        if (truthBeTold) {
          var str = {'roomId':message.roomId,'peopleType':message.peopleType}
          <!--doFormRequest("/v1/door/come-in-room","post",str);-->
          var token = getToken("nb_token");
          addRoom(message.roomId,token,message.peopleType);
        } else{

        }
      }else if(message.messageType == "add"){
        document.getElementById('name'+message.peoplePlay.site).innerText=message.peoplePlay.peopleInfo.name;
        document.getElementById('coin'+message.peoplePlay.site).innerText=message.peoplePlay.peopleInfo.coin;
      }else if(message.messageType == "returnRoom"){
        document.getElementById('roomId').innerText=message.room.roomId;
        var peoplePlayList = message.room.peoplePlayList;
        /* <![CDATA[ */
        var length = peoplePlayList.length;
        var haszuozhuang = false;
        for(var i = 0; i < length; i++){
          document.getElementById('name'+i).innerText="姓名："+peoplePlayList[i].peopleInfo.name;
          document.getElementById('coin'+i).innerText="金币："+peoplePlayList[i].peopleInfo.coin;
          if(peoplePlayList[i].state == "CONFIRM"){
            document.getElementById('confirm'+i).innerText="准备";
          }else{
            document.getElementById('confirm'+i).innerText="";
          }
          if(peoplePlayList[i].zhuangjia){
            document.getElementById('zuozhuang'+i).innerText="庄家";
          }else{
            document.getElementById('zuozhuang'+i).innerText="";
          }

          //控制组件的显示
          var userId = document.getElementById('userId').innerText;
          if(peoplePlayList[i].peopleInfo.userId == userId){
            if(peoplePlayList[i].state == "INIT"){
              document.getElementById('confirmDiv').style.display="";//显示
              document.getElementById('leaveDiv').style.display="";//显示
            }else{
              document.getElementById('confirmDiv').style.display="none";//隐藏
              document.getElementById('leaveDiv').style.display="none";//隐藏
            }
            if(peoplePlayList[i].zhuangjia){
              document.getElementById('beginDiv').style.display="";//显示
            }else{
              document.getElementById('beginDiv').style.display="none";//隐藏
            }
          }
          if(peoplePlayList[i].zhuangjia){
            haszuozhuang = true;
          }
          //控制扑克的显示
          var mainDiv = document.getElementById('people'+i+'Poke')
          var pokeList = peoplePlayList[i].beforePoke;
          if(pokeList && pokeList.length>0){
            for(var k = 0; k < pokeList.length; k++){
               var div = document.createElement("div");
               var img = document.createElement("img");
               if(pokeList[k].pokerType == "FANGP"){
                img.src="/static/pk/fangkuai_"+pokeList[k].value+".jpg";
               }else if(pokeList[k].pokerType == "MEIH"){
                img.src="/static/pk/meihua_"+pokeList[k].value+".jpg";
               }else if(pokeList[k].pokerType == "HONGT"){
                img.src="/static/pk/hongtao_"+pokeList[k].value+".jpg";
               }else if(pokeList[k].pokerType == "HEIT"){
                img.src="/static/pk/heitao_"+pokeList[k].value+".jpg";
               }
               div.style.cssText="width:200px;height:200px;position: absolute;left: "+30*k+"%;";
               div.appendChild(img);
               div.style.display="none";//隐藏
               showPokeTimeout(div,k);
               mainDiv.appendChild(div);
            }
          }
        }

        if(haszuozhuang){
          document.getElementById('zuozhuangDiv').style.display="none";//隐藏
        }else{
          document.getElementById('zuozhuangDiv').style.display="";//显示
        }

        for(var i = length; i < 6; i++){
          document.getElementById('name'+i).innerText="姓名：";
          document.getElementById('coin'+i).innerText="金币：";
        }
        <!--fapai(peoplePlayList);-->
        /* ]]> */
      }else if(message.messageType == "getRoom"){
        getRoom(message.roomId);
      }else if(message.messageType == "error"){
        if(message.reason == "leaveSuccess"){
          doFormRequest("/v1/door/door","post","{}");
        }else if(message.reason == "success"){

        }else{
          alert(message.reason);
        }
      }else if(message.messageType == "leave"){

      }
    }

    function showPokeTimeout(div,i) {
      setTimeout(function() {
        div.style.display="";//显示
      }, 1000*i);
    }

    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("close");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //解析message
    function parseMessage(message){
      var obj = JSON.parse(message);
      return obj;
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    function sleep(delay) {
      /* <![CDATA[ */
      var start = (new Date()).getTime();
      while ((new Date()).getTime() - start < delay) {
        continue;
      }
      /* ]]> */
    }

    /*
    * @url: url link
    * @action: "get", "post"
    * @json: {'key1':'value2', 'key2':'value2'}
    */
    function doFormRequest(url, action, json)
    {
        var form = document.createElement("form");
        form.action = url;
        form.method = action;

        // append input attribute and valus
        for (var key in json)
        {
            if (json.hasOwnProperty(key))
            {
                var val = json[key];
                input = document.createElement("input");
                input.type = "hidden";
                input.name = key;
                input.value = val;

                // append key-value to form
                form.appendChild(input)
            }
        }

        // send post request
        document.body.appendChild(form);
        form.submit();

        // remove form from document
        document.body.removeChild(form);
    }

    //login(1, "登录"), logout(2, "登出"),
    //add(3, "进房间"), leave(4, "离开房间"),
    //confirm(5, "准备"), unconfirm(6, "取消准备"),
    //begin(7, "开始"), createRoom(8, "创建房间"),
    //selectPeopleType(9, "选择币类型"), invite(10, "邀请用户加入房间")
    //sendInvite(11, "发送邀请"),
    //发送消息
    function send(){
        var str = {"messageType":"leave", "site":"http://www.runoob.com"}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    function invite(){
        var token = getToken("nb_token");
        var name = document.getElementById('inviteName').value;
        var str = {"messageType":"sendInvite", "name":name, "token":token}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    function getRoom(roomId){
        var str = {"messageType":"getRoom", "roomId":roomId}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    function addRoom(roomId,token,peopleType){
        var str = {"messageType":"add", "roomId":roomId, "token":token,"peopleType":peopleType}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    function leave(){
        var token = getToken("nb_token");
        var roomId = document.getElementById('roomId').innerText;
        var str = {"messageType":"leave", "roomId":roomId, "token":token}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    function confirmGame(){
        var token = getToken("nb_token");
        var coin = document.getElementById('coin').value;
        var str = {"messageType":"confirm", "coin":coin, "token":token}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    function zuozhuang(){
        var token = getToken("nb_token");
        var str = {"messageType":"zuozhuang", "token":token}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    function begin(){
        var token = getToken("nb_token");
        var str = {"messageType":"begin", "token":token}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }


</script>
</html>