<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="
    height: 100%;
    width: 100%;
">
<head>
  <title>learn Resources</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta http-equiv="pragma" content="no-cache" />
  <link rel="stylesheet" href="../static/css/windows.css" th:href="@{/static/css/windows.css}"/>
  <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/static/css/buttons.css}"/>
  <link rel="stylesheet" href="../static/css/table.css" th:href="@{/static/css/table.css}"/>
  <script type="text/javascript" th:src="@{/static/js/windows.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/room.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/request.js}"></script>
</head>

<body>

<div id="inviteNameWindow" class="white_content">
  <table style="width:100%">
    <tr>
      <td style="width:30%"><span>用户名：</span></td>
      <td><input id="inviteName" name="name" value="" type="text" style="width:97%"/></td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button onclick="closeDialog('inviteNameWindow')">取消</button>
        <span></span>
        <button onclick="invite()">确认</button>
      </td>
    </tr>
  </table>
</div>
<div id="fade" class="black_overlay"></div>
<div id="tirenWindow" class="tiren_window">
</div>

<div id="room">
  <span id="roomId" hidden="hidden" th:text="${room.roomId}"></span>
  <span id="roomType" hidden="hidden" th:text="${room.roomType}"></span>
</div>
<div id="userInfo">
  <span id="userId" hidden="hidden" th:text="${userInfo.id}"></span>
  <span id="userName" hidden="hidden" th:text="${userInfo.userName}"></span>
</div>

<div id="head" style="display: flex;flex-wrap: wrap;">
  <div id="headLeft" style="background:url(/static/head.png);margin: 0 auto;display:none;"></div>
  <div id="headDiv" style="background:url(/static/head.png);margin: 0 auto;">
    <div style="float: right;width:65px;height:100%;" id="leaveDiv">
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="leave()">离开房间</button>
    </div>
    <div style="float: right;width:10px;height:100%;">
    </div>
    <div style="float: right;width:65px;height:100%;" id="inviteDiv">
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="openDialog('inviteNameWindow')">邀请玩家</button>
    </div>
    <div style="float: right;width:10px;height:100%;">
    </div>
    <div style="float: right;width:65px;height:100%;" id="beginDiv">
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="begin()">开始游戏</button>
    </div>
    <div style="float: right;width:10px;height:100%;">
    </div>
    <div style="float: right;width:65px;height:100%;display:none;" id="unzuozhuangDiv">
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="unzuozhuang()">取消坐庄</button>
    </div>
    <div style="float: right;width:40px;height:100%;" id="zuozhuangDiv">
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="zuozhuang()">坐庄</button>
    </div>
    <div style="float: right;width:65px;height:100%;display:none;" id="unconfirmDiv">
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="unconfirmGame()">取消下注</button>
    </div>
    <div style="float: right;width:10px;height:100%;">
    </div>
    <div style="float: right;width:40px;height:100%;display:none;" id="tiren">
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="tirenWindow()">踢人</button>
    </div>
    <div style="float: right;width:185px;height:100%;" id="confirmDiv">
      <button class="button button-primary button-circle button-small" onclick="jian('coin')"><i class="fa fa-plus">-</i></button>
      <input id="coin" name="coin" value="10" type="text" oninput="value=value.replace(/[^\d]/g,'')" style="width:70px;"/>
      <button class="button button-primary button-circle button-small" onclick="jia('coin')"><i class="fa fa-plus">+</i></button>
      <button style="background-image: url('/static/button.png');outline:none;height:100%;" onclick="confirmGame()">下注</button>
    </div>
  </div>
  <div id="headRight" style="background:url(/static/head.png);margin: 0 auto;display:none;"></div>
</div>
<div id="body" style="display: flex;flex-wrap: wrap;">
  <div id="mainLeft" style="background:url(/static/head.png);margin: 0 auto;display:none;"></div>
  <div style="background-image: url('/static/room5.png');background-size: 100% 100%;margin: 0 auto;" id="main">
    <div style="position:relative;width:100%;height:7.6%;">
    </div>
    <div id="line1" style="position:relative;width:100%;height:15%;">
      <div style="position:relative;float:left;width:4%;height:100%;"></div>
      <div id="people0" style="position:relative;float:left;width:20%;height:100%;">
        <div style="float: left;width:70%;height:100%;">
          <div style="width:100%;height:25%;">
            <span id="name0" style="color:#becdd4;">姓名：</span>
          </div>
          <div style="width:100%;height:25%;">
            <span id="coin0" style="color:#bdaa35;">金币：</span>
          </div>
          <div style="width:100%;height:50%;">
            <span id="paycoin0" style="color:#fff200;"></span>
          </div>
        </div>
        <div style="float: left;width:30%;height:100%;">
          <span id="confirm0" style="color:#fff200;"></span>
          <br/>
          <span id="zuozhuang0" style="color:#fff200;"></span>
        </div>
      </div>
      <div style="position: relative;float:left;width:54%;height:100%;">
      </div>
      <div id="people5" style="position:relative;float:left;width:20%;height:100%;">
        <div style="float: left;width:30%;height:100%;">
          <span id="confirm5" style="color:#fff200;"></span>
          <br/>
          <span id="zuozhuang5" style="color:#fff200;"></span>
        </div>
        <div style="float: left;width:70%;height:100%;">
          <div style="width:100%;height:25%;">
            <span id="name5" style="color:#becdd4;">姓名：</span>
          </div>
          <div style="width:100%;height:25%;">
            <span id="coin5" style="color:#bdaa35;">金币：</span>
          </div>
          <div style="width:100%;height:50%;">
            <span id="paycoin5" style="color:#fff200;"></span>
          </div>
        </div>
      </div>
      <div style="position: relative;float:left;width:1.5%;height:100%;">
      </div>
    </div>
    <div id="pokeLine1" style="position:relative;width:100%;height:22%;">
      <div style="position: relative;float:left;width:14.5%;height:100%;"></div>
      <div id="people0Poke" style="position: relative;float:left;width:16.5%;height:100%;">
      </div>
      <div style="position: relative;float:left;width:38.5%;height:100%;"></div>
      <div id="people5Poke" style="position: relative;float:left;width:16.5%;height:100%;">
      </div>
      <div style="position: relative;float:left;width:14%;height:100%;"></div>
    </div>
    <div style="position:relative;width:100%;height:3%;">
    </div>
    <div id="pokeLine2" style="position:relative;width:100%;height:22%;">
      <div style="position: relative;float:left;width:16.5%;height:100%;"></div>
      <div id="people1Poke" style="position: relative;float:left;width:16.5%;height:100%;">
      </div>
      <div id="people2Poke" style="position: relative;float:left;width:16.5%;height:100%;">
      </div>
      <div id="people3Poke" style="position: relative;float:left;width:16.5%;height:100%;">
      </div>
      <div id="people4Poke" style="position: relative;float:left;width:16.5%;height:100%;">
      </div>
    </div>
    <div style="position:relative;width:100%;height:6.7%;">
    </div>
    <div id="line2" style="position:relative;width:100%;height:12.2%;">
      <div style="position:relative;float:left;width:4%;height:100%;"></div>
      <div id="people1" style="position:relative;float:left;width:20%;height:100%;">
        <div style="float: left;width:70%;height:100%;">
          <div style="width:100%;height:25%;">
            <span id="name1" style="color:#becdd4;">姓名：</span>
          </div>
          <div style="width:100%;height:25%;">
            <span id="coin1" style="color:#bdaa35;">金币：</span>
          </div>
          <div style="width:100%;height:50%;">
            <span id="paycoin1" style="color:#fff200;"></span>
          </div>
        </div>
        <div style="float: left;width:30%;height:100%;">
          <span id="confirm1" style="color:#fff200;"></span>
          <br/>
          <span id="zuozhuang1" style="color:#fff200;"></span>
        </div>
      </div>
      <div style="position:relative;float:left;width:54%;height:100%;"></div>
      <div id="people4" style="position:relative;float:left;width:20%;height:100%;">
        <div style="float: left;width:30%;height:100%;">
          <span id="confirm4" style="color:#fff200;"></span>
          <br/>
          <span id="zuozhuang4" style="color:#fff200;"></span>
        </div>
        <div style="float: left;width:70%;height:100%;">
          <div style="width:100%;height:25%;">
            <span id="name4" style="color:#becdd4;">姓名：</span>
          </div>
          <div style="width:100%;height:25%;">
            <span id="coin4" style="color:#bdaa35;">金币：</span>
          </div>
          <div style="width:100%;height:50%;">
            <span id="paycoin4" style="color:#fff200;"></span>
          </div>
        </div>
      </div>
    </div>
    <div id="line3" style="position:relative;width:100%;height:11.5%;">
      <div style="position:relative;float:left;width:27.5%;height:100%;"></div>
      <div id="people2" style="position:relative;float:left;width:20%;height:100%;">
        <div style="float: left;width:70%;height:100%;">
          <div style="width:100%;height:25%;">
            <span id="name2" style="color:#becdd4;">姓名：</span>
          </div>
          <div style="width:100%;height:25%;">
            <span id="coin2" style="color:#bdaa35;">金币：</span>
          </div>
          <div style="width:100%;height:50%;">
            <span id="paycoin2" style="color:#fff200;"></span>
          </div>
        </div>
        <div style="float: left;width:30%;height:100%;">
          <span id="confirm2" style="color:#fff200;"></span>
          <br/>
          <span id="zuozhuang2" style="color:#fff200;"></span>
        </div>
      </div>
      <div style="position:relative;float:left;width:12.6%;height:100%;"></div>
      <div id="people3" style="position:relative;float:left;width:20%;height:100%;">
        <div style="float: left;width:70%;height:100%;">
          <div style="width:100%;height:25%;">
            <span id="name3" style="color:#becdd4;">姓名：</span>
          </div>
          <div style="width:100%;height:25%;">
            <span id="coin3" style="color:#bdaa35;">金币：</span>
          </div>
          <div style="width:100%;height:50%;">
            <span id="paycoin3" style="color:#fff200;"></span>
          </div>
        </div>
        <div style="float: left;width:30%;height:100%;">
          <span id="confirm3" style="color:#fff200;"></span>
          <br/>
          <span id="zuozhuang3" style="color:#fff200;"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="mainRight" style="background:url(/static/head.png);margin: 0 auto;display:none;"></div>
</div>
<div id="mainBottom" style="background:url(/static/head.png);margin: 0 auto;display:none;"></div>
<!--<div id="winner0" style="position: absolute;left: 10.5%;top: 8%;width:50px;height:50px;">-->
  <!--<img id="winnerimg0" src="" style="width:50px;height:50px;display:none"/>-->
<!--</div>-->
<!--<div id="winner1" style="position: absolute;left: 10.5%;top: 8%;width:50px;height:50px;">-->
  <!--<img id="winnerimg1" src="" style="width:50px;height:50px;display:none"/>-->
<!--</div>-->
<!--<div id="winner2" style="position: absolute;left: 10.5%;top: 8%;width:50px;height:50px;">-->
  <!--<img id="winnerimg2" src="" style="width:50px;height:50px;display:none"/>-->
<!--</div>-->
<!--<div id="winner3" style="position: absolute;left: 10.5%;top: 8%;width:50px;height:50px;">-->
  <!--<img id="winnerimg3" src="" style="width:50px;height:50px;display:none"/>-->
<!--</div>-->
<!--<div id="winner4" style="position: absolute;left: 10.5%;top: 8%;width:50px;height:50px;">-->
  <!--<img id="winnerimg4" src="" style="width:50px;height:50px;display:none"/>-->
<!--</div>-->
<!--<div id="winner5" style="position: absolute;left: 10.5%;top: 8%;width:50px;height:50px;">-->
  <!--<img id="winnerimg5" src="" style="width:50px;height:50px;display:none"/>-->
<!--</div>-->
</body>

</html>
<script type="text/javascript">
    <!--document.getElementById('main').style.cssText="height:"+findWindowHeight()+"px;";-->

    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        var token = getToken("nb_token");
        websocket = new WebSocket("ws://127.0.0.1:9095/gamesocket?token="+token);
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
    };

    //连接关闭的回调方法
    websocket.onclose = function(){
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //解析message
    function parseMessage(message){
      var obj = JSON.parse(message);
      return obj;
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        var token = getToken("nb_token");
        var roomId = document.getElementById('roomId').innerText
        var str = {"messageType":"getRoom","roomId":roomId, "token":token}
        var strJson = JSON.stringify(str)
        websocket.send(strJson);
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
      var message = parseMessage(event.data);
      if(message.messageType == "invite"){
        var truthBeTold = window.confirm("是否加入房间");
        if (truthBeTold) {
          var str = {'roomId':message.roomId,'peopleType':message.peopleType}
          <!--doFormRequest("/v1/door/come-in-room","post",str);-->
          var token = getToken("nb_token");
          addRoom(message.roomId,token,message.peopleType);
        } else{

        }
      }else if(message.messageType == "add"){
        document.getElementById('name'+message.peoplePlay.site).innerText="姓名："+message.peoplePlay.peopleInfo.name;
        document.getElementById('coin'+message.peoplePlay.site).innerText="金币："+message.peoplePlay.peopleInfo.coin;
      }else if(message.messageType == "returnRoom"){
        /* <![CDATA[ */
        document.getElementById('roomId').innerText=message.room.roomId;
        document.getElementById('roomType').innerText=message.room.roomType;
        var peoplePlayList = message.room.peoplePlayList;
        var userId = document.getElementById('userId').innerText;
        var length = peoplePlayList.length;
        var haveZhuangjia = false;
        for(var i = 0; i < length; i++){
          if(peoplePlayList[i].zhuangjia){
            haveZhuangjia = true;
          }
        }
        for(var i = 0; i < length; i++){
          document.getElementById('name'+i).innerText="姓名："+peoplePlayList[i].peopleInfo.name;
          document.getElementById('coin'+i).innerText="金币："+peoplePlayList[i].peopleInfo.coin;
          if(peoplePlayList[i].zhuangjia){
            document.getElementById('zuozhuang'+i).innerText="庄家";
            document.getElementById('confirm'+i).innerText="";
            document.getElementById('paycoin'+i).innerText="";
          }else if(peoplePlayList[i].state == "CONFIRM"){
            document.getElementById('zuozhuang'+i).innerText="";
            document.getElementById('confirm'+i).innerText="准备";
            document.getElementById('paycoin'+i).innerText="下注金额："+peoplePlayList[i].playCoin;
          }else{
            document.getElementById('zuozhuang'+i).innerText="";
            document.getElementById('confirm'+i).innerText="";
            document.getElementById('paycoin'+i).innerText="";
          }
          //控制组件的显示
          showComponent(peoplePlayList[i],haveZhuangjia);
        }

        for(var i = length; i < 6; i++){
          document.getElementById('name'+i).innerText="姓名：";
          document.getElementById('coin'+i).innerText="金币：";
          <!--document.getElementById('paycoin'+i).innerText="下注金额：";-->
        }
        <!--fapai(peoplePlayList);-->
        /* ]]> */
      }else if(message.messageType == "getRoom"){
        getRoom(message.roomId);
      }else if(message.messageType == "error"){
        if(message.reason == "leaveSuccess"){
          doFormRequest("/v1/door/door","post","{}");
        }else if(message.reason == "success"){

        }else{
          alert(message.reason);
        }
      }else if(message.messageType == "leave"){

      }else if(message.messageType == "beginReturn"){
          /* <![CDATA[ */
          var peoplePlayList = message.peoplePlayList;
          var haveZhuangjia = false;
          for(var i = 0; i < peoplePlayList.length; i++){
            if(peoplePlayList[i].zhuangjia){
              haveZhuangjia = true;
            }
          }
          for(var i=0; i < peoplePlayList.length; i++){
            var winner = false;
            if(message.winner == peoplePlayList[i].peopleInfo.userId){
              winner = true;
            }
            //控制扑克的显示
            var mainDiv = document.getElementById('people'+i+'Poke');
            var pokeList = peoplePlayList[i].beforePoke;
            if(pokeList && pokeList.length>0){
              for(var k = 0; k < pokeList.length; k++){
                 var div = document.createElement("div");
                 var img = "";
                 if(pokeList[k].pokerType == "FANGP"){
                  img="/static/pk/fangkuai_"+pokeList[k].value+".jpg";
                 }else if(pokeList[k].pokerType == "MEIH"){
                  img="/static/pk/meihua_"+pokeList[k].value+".jpg";
                 }else if(pokeList[k].pokerType == "HONGT"){
                  img="/static/pk/hongtao_"+pokeList[k].value+".jpg";
                 }else if(pokeList[k].pokerType == "HEIT"){
                  img="/static/pk/heitao_"+pokeList[k].value+".jpg";
                 }
                 div.style.cssText = "background-image: url('"+img+"');background-size: 100% 100%;margin: 0 auto;height:100%;width:50%;position: absolute;left: "+15*k+"%;";
                 div.style.display="none";//隐藏
                 showPokeTimeout(div,k);
                 mainDiv.appendChild(div);
                 mainDiv.style.display="";//显示
              }
              gameOverTimeout(i,winner,peoplePlayList[i],haveZhuangjia);
            }
          }
        /* ]]> */
      }else if(message.messageType == "returnDating"){
        doFormRequest("/v1/door/door","get","{}");
      }
    }

    function showPokeTimeout(div,i) {
      setTimeout(function() {
        div.style.display="";//显示
      }, 1000*i);
    }

    function gameOverTimeout(index,winner,peoplePlay,haveZhuangjia){
      setTimeout(function() {
        var div = document.getElementById('winner'+index);
        var img = document.getElementById("winnerimg"+index);
        if(peoplePlay.gameType == "ZIDONG"){
          if(winner){
            img.src="/static/ying.png";
          }else{
            img.src="/static/shu.png";
          }
        }else{
        //ZHIZHUN(1), SANTIAO(2), SANGONG(3), DIANSHU(4);
          if(peoplePlay.resultType == "ZHIZHUN"){
            img.src="/static/result/zhizhun.png";
          }else if(peoplePlay.resultType == "SANTIAO"){
            img.src="/static/result/santiao.png";
          }else if(peoplePlay.resultType == "SANGONG"){
            img.src="/static/result/sangong.png";
          }else{
            img.src="/static/result/dianshu_"+peoplePlay.dianshu+".png";
          }
        }
        img.style.display="block";
        document.getElementById('coin'+index).innerText="金币："+peoplePlay.peopleInfo.coin;
        showComponent(peoplePlay,haveZhuangjia);
      }, 2100);
      //hidden
      setTimeout(function() {
        var img = document.getElementById("winnerimg"+index);
        img.style.display="none";
        var mainDiv = document.getElementById('people'+index+'Poke');
        mainDiv.innerHTML = "";//删除div内容
        mainDiv.style.cssText = "";
        document.getElementById('paycoin'+index).innerText="";
        document.getElementById('confirm'+index).innerText="";
      },5100);
    }

    function showComponent(peoplePlay,haveZhuangjia){
       //控制组件的显示
      var userId = document.getElementById('userId').innerText;
      var roomType = document.getElementById('roomType').innerText;
      if(peoplePlay.peopleInfo.userId == userId){
        if(roomType == "PUBLIC"){
          document.getElementById('inviteDiv').style.display="none";//隐藏
        }else{
          document.getElementById('inviteDiv').style.display="";//显示
        }
        if(peoplePlay.zhuangjia){
          document.getElementById('tiren').style.display="";//显示
          document.getElementById('unzuozhuangDiv').style.display="";//显示
          document.getElementById('beginDiv').style.display="";//显示
          document.getElementById('unconfirmDiv').style.display="none";//隐藏
          document.getElementById('confirmDiv').style.display="none";//隐藏
          document.getElementById('zuozhuangDiv').style.display="none";//隐藏
          document.getElementById('leaveDiv').style.display="none";//隐藏
        }else if(peoplePlay.state == "INIT"){
          document.getElementById('confirmDiv').style.display="";//显示
          document.getElementById('leaveDiv').style.display="";//显示
          if(haveZhuangjia){
            document.getElementById('zuozhuangDiv').style.display="none";//隐藏
          }else{
            document.getElementById('zuozhuangDiv').style.display="";//显示
          }
          document.getElementById('unconfirmDiv').style.display="none";//隐藏
          document.getElementById('beginDiv').style.display="none";//隐藏
          document.getElementById('unzuozhuangDiv').style.display="none";//隐藏
          document.getElementById('tiren').style.display="none";//显示
        }else{
          document.getElementById('unconfirmDiv').style.display="";//显示
          document.getElementById('confirmDiv').style.display="none";//隐藏
          document.getElementById('leaveDiv').style.display="none";//隐藏
          document.getElementById('zuozhuangDiv').style.display="none";//隐藏
          document.getElementById('unzuozhuangDiv').style.display="none";//隐藏
          document.getElementById('beginDiv').style.display="none";//隐藏
          document.getElementById('tiren').style.display="none";//显示
        }
      }
    }

    window.onload = function(){
     /* <![CDATA[ */
      var winHeight = 0;
      var winWidth = 0;
      if (window.innerHeight){
        winHeight = window.innerHeight;
      }else if ((document.body) && (document.body.clientHeight)){
        winHeight = document.body.clientHeight;
      }
      if (window.innerWidth){
        winWidth = window.innerWidth;
      }else if((document.body) && (document.body.clientWidth)){
        winWidth = document.body.clientWidth;
      }

      if(winWidth > 1024){
        var w = 984;
        var h = 709;
        var wb = (winWidth - w)/2;
        var hb = winHeight - h - 25;
        document.getElementById('headLeft').style.cssText += 'height: '+25+'px;'+'width:'+wb+'px;';
        document.getElementById('headRight').style.cssText += 'height: '+25+'px;'+'width:'+wb+'px;';
        document.getElementById('mainLeft').style.cssText += 'height: '+h+'px;'+'width:'+wb+'px;';
        document.getElementById('mainRight').style.cssText += 'height: '+h+'px;'+'width:'+wb+'px;';
        document.getElementById('mainBottom').style.cssText += 'height: '+hb+'px;'+'width:'+winWidth+'px;';
        document.getElementById('headDiv').style.cssText += 'height: '+25+'px;'+'width:'+w+'px;';
        document.getElementById('main').style.cssText += 'height: '+h+'px;'+'width:'+w+'px;';
        //;display:inline
        document.getElementById('headLeft').style.display="";//显示
        document.getElementById('headRight').style.display="";//显示
        document.getElementById('mainLeft').style.display="";//显示
        document.getElementById('mainRight').style.display="";//显示
        document.getElementById('mainBottom').style.display="";//显示
      }else{
        document.getElementById('headDiv').style.cssText += 'height: '+25+'px;'+'width:'+winWidth+'px;';
        document.getElementById('main').style.cssText += 'height: '+(winHeight-25)+'px;'+'width:'+winWidth+'px;';
        //
        document.getElementById('headLeft').style.display="none";//隐藏
        document.getElementById('headRight').style.display="none";//隐藏
        document.getElementById('mainLeft').style.display="none";//隐藏
        document.getElementById('mainRight').style.display="none";//隐藏
        document.getElementById('mainBottom').style.display="none";//隐藏
      }

     if (screen.width <1024){
      document.styleSheets[0].addRule("body","font-size:12px;");
     }else if (screen.width ==1024){
      document.styleSheets[0].addRule("body","font-size:14px;");
     }else if (screen.width >1024){
      document.styleSheets[0].addRule("body","font-size:16px;");
     }else{
      document.styleSheets[0].addRule("body","font-size:16px;");
     }
     /* ]]> */
    }

</script>
